<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task It Up!</title>
  </head>
  <body>

    <form class="mainForm" action="/" method="post">
      <input type="text" name="inputField" value="" placeholder="Enter Task Here">
      <button type="submit">This is your button!</button>
    </form>



  <ul>
    {{#theStuff}}
      {{^completed}}
        <li>{{name}}</li>
        <form class="" action="/TheList/Complete" method="post">
          <button class="competeButton" name="completeIt" type="submit" value="{{id}}">Complete</button>
        </form>
        <form class="" action="/TheList/delete" method="post">
          <button class="deleteButton" type="submit" name="deleteIt" value="{{id}}">Delete It!</button>
        </form>
      {{/completed}}
    {{/theStuff}}
  </ul>

  <h1> Completed </h1>

  <!-- <form class="completedForm" action="/TheList/CompletedTasks" method="post"> -->
    <ul>
    {{#theStuff}}
      {{#completed}}
        <li>{{name}}</li>
        <form class="" action="/TheList/delete" method="post">
          <button class="deleteButton" type="submit" name="deleteIt" value="{{id}}">Delete It!</button>
        </form>
      {{/completed}}
    {{/theStuff}}
  </ul>

  <!-- </form> -->



  </body>
</html>
