<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task It Up!</title>
  </head>
  <body>

    <form class="mainForm" action="/" method="post">
      <input type="text" name="inputField" value="" placeholder="Enter Task Here">
      <button type="submit">This is your button!</button>
    </form>


  <ul>
    {{#theStuff}}
    <li>{{name}}</li>
    <form class="" action="/TheList" method="post">
      <button class="competeButton" type="submit">Complete</button>
    </form>
    <form class="" action="/TheList/delete" method="post">
      <button class="deleteButton" type="submit" name="deleteIt" value="{{id}}">Delete It!</button>
    </form>
    {{/theStuff}}
  </ul>



  </body>
</html>
